services:
  frontend:
    build: ./frontend
    container_name: frontend
    ports:
      - "3000:3000"
    networks:
      - app-net

  backend-php:
    build: ./backend-php
    container_name: backend-php
    ports:
      - "8080:80"
    networks:
      - app-net

  backend-java:
    build: ./backend-java
    container_name: backend-java
    ports:
      - "8080:8080"
    networks:
      - app-net

networks:
  app-net:
    driver: bridge