:root {
  --color-bg: #222;
  --color-surface: #3a3a3a;
  --color-text: hsl(0, 0%, 80%);
  --color-accent: #e5c41d;
  --color-muted: #888;

  --font-main: "Inter", Arial, sans-serif;
  --font-size-base: 16px;
  --line-height-base: 1.6;

  --space-sm: 0.5rem;
  --space-md: 1rem;
  --space-lg: 1.5rem;

  --radius-sm: 4px;
  --radius-md: 8px;
  --radius-lg: 16px;

  --shadow-md: 0 4px 16px rgba(0,0,0,0.08);
}

[data-theme="light"] {
  --color-bg: #cbcbcb;
  --color-surface: #bbb;
  --color-text: #222;
  --color-accent: #e5c41d;
  --color-muted: #888;
}

/* === Start web-page === */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  width: 100vh;
  height: 100vw;
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
  transition: all 2s ease;
}
