:root {
  --color-surface: #222;
  --color-bg: #3a3a3a;
  --color-text: #cbcbcb;
  --color-muted: #888;
  --color-accent: #e5c41d;

  --font-main: "Inter", Arial, sans-serif;
  --font-size-base: 24px;
  --line-height-base: 1.6;

  --space-sm: 0.5rem;
  --space-md: 1rem;
  --space-lg: 1.5rem;

  --radius-sm: 4px;
  --radius-md: 8px;
  --radius-lg: 16px;

  --shadow-md: 0 4px 16px rgba(0, 0, 0, 0.08);
}

[data-theme="light"] {
  --color-bg: #f5f5f5;
  --color-surface: #ffffff;
  --color-text: #222;
  --color-muted: #888;
  --color-accent: #d4af37;
}
[data-theme="light"] .moon-icon { display: none; }
[data-theme="light"] .sun-icon { display: block; }

/* ====== RESET ====== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.sun-icon {
  display: none;
}

/* ====== start ====== */
body {
  font-family: var(--font-main);
  background-color: var(--color-bg);
  color: var(--color-text);
  transition: background-color 0.4s, color 0.3s;
  font-size: 18px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* === Button Color Theme === */
.btn-sf {
  background: var(--color-bg);
  border: 1px solid var(--color-muted);
  border-radius: var(--radius-md);
  padding: 8px;
  cursor: pointer;
  color: var(--color-text);
  fill: var(--color-text);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}

.btn-sf:hover {
  border-color: var(--color-accent);
  transform: translateY(-2px);
}

/* === BUTTON === */
.btn {
  width: 100%;
  padding: var(--space-md);
  margin: var(--space-sm) 0;

  background: transparent;
  border: 1px solid var(--color-accent);
  border-radius: var(--radius-md);

  color: var(--color-text);
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;

  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.btn:hover {
  background: rgba(255, 255, 255, 0.08);
  border-color: var(--color-accent);
  padding-left: calc(var(--space-md) + 4px);
}

.btn.active {
  background: var(--color-accent);
  color: #000;
  font-weight: 600;
  border-color: var(--color-accent);
}

.new-btn {
  border: 2px dashed var(--color-accent);
}